<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f1f1f1; padding: 25px;">
  <div style="max-width: 600px; margin: auto; background: white; border-radius: 12px; padding: 30px; text-align: center;">

    <img src="cid:logo" alt="Logo" style="width: 120px;" />

    <h2 style="color: #333333; margin-bottom: 20px;">Your New Password Awaits</h2>

    <h4 style="color: #444444; margin-bottom: 15px;">Hello {{ fullname }}</h4>
    <p style="color: #555555; font-size: 16px; margin-bottom: 20px;">
      You recently requested to reset your password for your account.<br/>Please click the button below to start the password reset.
    </p>
    <a href="{{ reset_link }}" style="display: inline-block; background-color: #1D8348; color: white; padding: 8px 24px; text-decoration: none; border-radius: 6px; font-weight: bold;">RESET PASSWORD</a>
    <p style="color: #555555; font-size: 16px; margin-top: 20px;">
      If you did not request a password reset, you may ignore this message.<br/>Your password will remain unchanged.
    </p>

    <p style="color: #239B56; font-size: 16px; margin-top: 30px;">Markajul Quran Wassunnah Institute</p>
  </div>
</body>
</html>